.Notifications {
  position: relative;
  padding: 10px;
  border: dashed var(--primary-color);
}

p {
  font-weight: bold;
}

li[data="default"] {
  color: blue;
}

li[data="urgent"] {
  color: red;
}
